@import './reset.css';


:root {
  /* colors */
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);



  /* font */
  /* font: [font-weight] [font-size]/[line-height] [font-family]; */

  --text-normal: 400 0.9375rem/1.4 "Outfit", sans-serif;
  --text-bold: 700 1.375rem/1.2 "Outfit", sans-serif;
  --normal-text-spacing: 0.013333em;
  --bold-text-spacing: 0em;
}



body {
  display: grid;
  place-items: center;
  text-align: center;
  background-color: var(--slate-300);
  padding: 16px;
  font: var(--text-normal);
}

main {
  padding: 16px;
  background-color: var(--white);
  border-radius: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 18rem;
  max-width: 20rem;
  height: 100%;

}

img.qr-code-image {
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 10px;
}

.heading1 {
  font: var(--text-bold);
  letter-spacing: var(--bold-text-spacing);
}

.paragraph {
  letter-spacing: var(--normal-text-spacing);
}

.attribution {
  font-size: 0.6875rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}